# This Jupyter script will cleanup the data for the San Francisco permit dataset found here: 
- [Building Data](https://data.sfgov.org/Housing-and-Buildings/Building-Permits/i98e-djp9)
- [Electrical Data](https://data.sfgov.org/Housing-and-Buildings/Electrical-Permits/ftty-kx6y)
- [Plumbing Data](https://data.sfgov.org/Housing-and-Buildings/Plumbing-Permits/a6aw-rudh)

The following script assumes that the data sets have been downloaded and stored within the `datasets` directory.

## Import packages and load the dataset:

In [407]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
blg_df = pd.read_csv('../datasets/SF_Building_Permits.csv')
plb_df = pd.read_csv('../datasets/SF_Plumbing_Permits.csv')
elc_df = pd.read_csv('../datasets/SF_Electrical_Permits.csv')

/Users/amjustin/Library/Python/3.8/lib/python/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (18,22,23,32,35) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

## Define some global variables

In [408]:
CITY = 'SanFrancisco'
BLG_TYPE = 'BUILDING'
PLB_TYPE = 'PLUMBING'
ELC_TYPE = 'ELECTRICAL'

# DATASET COLUMNS
PERMIT_NUMBER_COL = 'Permit Number'
PERMIT_TYPE_COL = 'Permit Type'
PERMIT_TYPE_DEF_COL = 'Permit Type Definition'
PERMIT_DESC_COL = 'Description'

## San Francisco Building Permit Type Number to Permit Type Description
The permit types are numbered on the SF dataset. Here are the type descriptions for each permit.

| Permit Type Number | Permit Type Description |
| ---:               | ---:                    |
| 1 | new construction |
| 2 | new construction wood frame |
| 3 | additions alterations or repairs |
| 4 | sign - erect |
| 5 | grade or quarry or fill or excavate |
| 6 | demolitions |
| 7 | wall or painted sign |
| 8 | otc (over-the-counter) alterations permit |

## Building Data

In [409]:
blg_df.head()

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix,...,SF Find Neighborhoods 2,Current Police Districts 2,Current Supervisor Districts 2,Analysis Neighborhoods 2,DELETE - Zip Codes 2,DELETE - Fire Prevention Districts 2,DELETE - Supervisor Districts 2,DELETE - Current Police Districts 2,DELETE - Supervisorial_Districts_Waterline_data_from_7pkg_wer3 2,Neighborhoods
0,201910245461,3,additions alterations or repairs,10/24/2019,0186,019,1483,NaN,Jackson,St,...,16.0,6.0,3.0,32.0,28858.0,5.0,10.0,1.0,2.0,16.0
1,202008182040,2,new construction wood frame,08/18/2020,1855,011,1561,NaN,09th,Av,...,109.0,10.0,8.0,14.0,56.0,1.0,4.0,5.0,5.0,109.0
2,202008182040,2,new construction wood frame,08/18/2020,1855,011,1559,NaN,09th,Av,...,109.0,10.0,8.0,14.0,56.0,1.0,4.0,5.0,5.0,109.0
3,201803305089,2,new construction wood frame,03/30/2018,1067,034,44,V,Cook,St,...,11.0,8.0,6.0,31.0,54.0,15.0,1.0,9.0,11.0,11.0
4,201909050720,3,additions alterations or repairs,09/05/2019,2090,046,1926,NaN,45th,Av,...,39.0,10.0,7.0,35.0,29491.0,1.0,3.0,5.0,4.0,39.0

## Plumbing Data

In [410]:
plb_df.head()

,Permit Number,Application Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix,Unit,Unit Suffix,...,Location,SF Find Neighborhoods 2,Current Police Districts 2,Current Supervisor Districts 2,Analysis Neighborhoods 2,Current Police Districts (2) 2,Zip Codes 2,Fire Prevention Districts 2,Supervisor Districts 2,Neighborhoods
0,PM20090626296,06/26/2009,0028,018,2914,NaN,Larkin,St,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,PM20101213719,12/13/2010,0996,020,3485,NaN,Washington,St,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PM20160609174,06/09/2016,6745,0060,2895,NaN,Diamond,St,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,PM20170519548,05/19/2017,0087,007C,494,NaN,Filbert,St,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,PM20191008105,10/08/2019,3787,027,38,NaN,Lusk,St,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Electrical Data

In [411]:
elc_df.head()

,Permit Number,Application Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix,Unit,Unit Suffix,...,Location,SF Find Neighborhoods 2,Current Police Districts 2,Current Supervisor Districts 2,Analysis Neighborhoods 2,Current Police Districts (2) 2,Zip Codes 2,Fire Prevention Districts 2,Supervisor Districts (1) 2,Neighborhoods
0,E200211201035,11/20/2002 12:00:00 AM,3730,035,241,NaN,08th,St,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E200212172016,12/17/2002 12:00:00 AM,0241,003,600,NaN,California,St,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E200303245545,03/24/2003 12:00:00 AM,0051,036,690,NaN,Chestnut,St,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E200303105027,03/10/2003 12:00:00 AM,0041,025,383,NaN,Bay,St,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E200301293337,01/29/2003 12:00:00 AM,0766,007,540,NaN,Van Ness,Av,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Check if there are any duplicate permits:

In [412]:
for df in [blg_df, plb_df, elc_df]:
    print(f"Number of records before removing duplicates: {df.shape[0]}")
    df.drop_duplicates(subset=[PERMIT_NUMBER_COL])
    data_size_after_drop = df.shape[0]
    removed = df.shape[0] - data_size_after_drop
    print(f"Removed {removed} duplicates.")

Number of records before removing duplicates: 1174829
Removed 0 duplicates.
Number of records before removing duplicates: 251060
Removed 0 duplicates.
Number of records before removing duplicates: 279814
Removed 0 duplicates.

## Drop columns that will not be used:

In [413]:
keep_cols_blg = [PERMIT_TYPE_DEF_COL,
                PERMIT_DESC_COL]
keep_cols_plb_elc = [PERMIT_DESC_COL]

blg_df = blg_df[keep_cols_blg]
plb_df = plb_df[keep_cols_plb_elc]
elc_df = elc_df[keep_cols_plb_elc]

## Replace empty values with NaN and drop rows where at least one element is missing

In [414]:
for df in [blg_df, plb_df, elc_df]:
    df = df.replace(' ', np.nan)
    df[df.isna().any(axis=1)]
    df.dropna()

In [415]:
blg_df.head()

,Permit Type Definition,Description
0,additions alterations or repairs,addiition to a new unit on basement fl per ord...
1,new construction wood frame,(rear of (e) lot with an (e) r-3/28 structure ...
2,new construction wood frame,(rear of (e) lot with an (e) r-3/28 structure ...
3,new construction wood frame,"to erect 4 stories, no basement, type v-b, 2 u..."
4,additions alterations or repairs,legalize (e) dwelling unit @ 1st fl per ordina...

In [416]:
plb_df.head()

                          Description
0  replace efficiency central heater.
1                 replace gas furnace
2                replace hvac on roof
3            replace furnace, afue 80
4         unit 4: install ductless ac

In [417]:
elc_df.head()

                               Description
0                         life safety test
1  duplex electrical in modular partitions
2       temp power pole - 100 amp service.
3             correction notice is attach.
4                replace existing signage.

## Generalize type of building datasets

In [418]:
blg_df[PERMIT_TYPE_DEF_COL] = 'Building Permit'
blg_df.head()

  Permit Type Definition                                        Description
0        Building Permit  addiition to a new unit on basement fl per ord...
1        Building Permit  (rear of (e) lot with an (e) r-3/28 structure ...
2        Building Permit  (rear of (e) lot with an (e) r-3/28 structure ...
3        Building Permit  to erect 4 stories, no basement, type v-b, 2 u...
4        Building Permit  legalize (e) dwelling unit @ 1st fl per ordina...

## Add permit type to Plumbing and Electrical datasets

In [419]:
plb_df[PERMIT_TYPE_DEF_COL] = 'Plumbing Permit'
plb_df.head()

                          Description Permit Type Definition
0  replace efficiency central heater.        Plumbing Permit
1                 replace gas furnace        Plumbing Permit
2                replace hvac on roof        Plumbing Permit
3            replace furnace, afue 80        Plumbing Permit
4         unit 4: install ductless ac        Plumbing Permit

In [420]:
elc_df[PERMIT_TYPE_DEF_COL] = 'Electrical Permit'
elc_df.head()

                               Description Permit Type Definition
0                         life safety test      Electrical Permit
1  duplex electrical in modular partitions      Electrical Permit
2       temp power pole - 100 amp service.      Electrical Permit
3             correction notice is attach.      Electrical Permit
4                replace existing signage.      Electrical Permit

## Display the count for each permit type for BUILDING permits

In [421]:
# blg_df[PERMIT_TYPE_DEF_COL].value_counts()

## Data Graphs

In [422]:
# blg_df[PERMIT_TYPE_DEF_COL].value_counts().plot.bar(figsize=(10,10), grid=True, title='BUILDING Permit Type Distribution', ylabel='Type Count')

# ML Playground

## Join the data: Building, Plumbing and Electrical

In [423]:
print(f"Size before append of the {BLG_TYPE} dataest: {blg_df.shape[0]}")
print(f"Size before append of the {PLB_TYPE} dataest: {plb_df.shape[0]}")
print(f"Size before append of the {ELC_TYPE} dataest: {elc_df.shape[0]}")
df = blg_df.append(plb_df)
df = df.append(elc_df)
print(f"Size of final dataframe with all datasets: {df.shape[0]}")

df.head()

Size before append of the BUILDING dataest: 1174829
Size before append of the PLUMBING dataest: 251060
Size before append of the ELECTRICAL dataest: 279814
Size of final dataframe with all datasets: 1705703

  Permit Type Definition                                        Description
0        Building Permit  addiition to a new unit on basement fl per ord...
1        Building Permit  (rear of (e) lot with an (e) r-3/28 structure ...
2        Building Permit  (rear of (e) lot with an (e) r-3/28 structure ...
3        Building Permit  to erect 4 stories, no basement, type v-b, 2 u...
4        Building Permit  legalize (e) dwelling unit @ 1st fl per ordina...

## Display the count for each permit type

In [424]:
df[PERMIT_TYPE_DEF_COL].value_counts()

Building Permit      1174829
Electrical Permit     279814
Plumbing Permit       251060
Name: Permit Type Definition, dtype: int64

In [425]:
df.head()

  Permit Type Definition                                        Description
0        Building Permit  addiition to a new unit on basement fl per ord...
1        Building Permit  (rear of (e) lot with an (e) r-3/28 structure ...
2        Building Permit  (rear of (e) lot with an (e) r-3/28 structure ...
3        Building Permit  to erect 4 stories, no basement, type v-b, 2 u...
4        Building Permit  legalize (e) dwelling unit @ 1st fl per ordina...

## Grab X data

In [426]:
X = df.drop(columns=[PERMIT_TYPE_DEF_COL])
X.head()

                                         Description
0  addiition to a new unit on basement fl per ord...
1  (rear of (e) lot with an (e) r-3/28 structure ...
2  (rear of (e) lot with an (e) r-3/28 structure ...
3  to erect 4 stories, no basement, type v-b, 2 u...
4  legalize (e) dwelling unit @ 1st fl per ordina...

## Grab y data (Labels)

In [427]:
y = getattr(df, PERMIT_TYPE_DEF_COL)
y.head()

0    Building Permit
1    Building Permit
2    Building Permit
3    Building Permit
4    Building Permit
Name: Permit Type Definition, dtype: object

## Export X and y data to CSV

In [428]:
df.to_csv(path_or_buf=f'../datasets/clean_{CITY}DataSet.csv', index=False)

## Uncommnet the following if you would like to separate the X and y datasets into different files

In [429]:
# X.to_csv(path_or_buf=f'../datasets/X_{CITY}DataSet.csv', index=False)

In [430]:
# y.to_csv(path_or_buf=f'../datasets/y_{CITY}DataSet.csv', index=False)